<settings>
<category label="Timer">
<setting id="startup" label="Startup" type="bool" default="true" />
<setting id="timer" type="select" label="Timer Type" default="None" values="None|Period|Time" />
<setting label="Period (hours)" type="number" id="period" default="0" visible="eq(-1,Period)"/>
<setting id="time" type="time" label="Time" default="03:33" visible="eq(-2,Time)"/>
</category>
</settings>